.story-container {
  background-color: #F1F5F9;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.trending-stories {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  justify-content: center;
  border: 3px solid #5479B0;
  /* padding-left: 50px; */
  /* margin-top: 1%; */
  width: 800px;
  height: 200px;
  padding: 0 15px;
}

.homepage-story-layout {
  display: flex;
  justify-content: center;
  width: 100%
}

.trending-stories:hover {
  color: #5479B0;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

header {
  background: #5479B0;
}

.homepage-title {
  color: #F1F5F9;
}

/*
  terrible.css
  Andrew Tunecliffe, 2015
  http://atunnecliffe.com
*/
/* uncomment to see outlines of stuff when you hover *-/
:hover {
  background:rgba(0, 0, 0, 0.1);
}/**/

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

header,
nav,
article,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
div {
  width: 100%;
  word-wrap: break-word;
}
header,
nav,
aside,
main,
article,
section,
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  position: relative;
}


nav[am-layout][am-layout~="horizontal"] a {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.3333%;
        -ms-flex: 1 8.3333%;
            flex: 1 8.3333%;
  }
  nav[am-layout][am-layout~="vertical"] {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  nav[am-layout][am-layout~="justify-align"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav[am-layout][am-layout~="left-align"] a {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  nav[am-layout][am-layout~="right-align"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav[am-layout][am-layout~="right-align"] a {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  nav[am-layout][am-layout~="center-align"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav[am-layout][am-layout~="center-align"] a {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  nav[am-layout] a:not(.am-floating-action) {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
  }
  @media (max-width: 30em) {
    nav[am-layout] a:not(.am-floating-action) {
      font-size: 90%;
    }
  }

header {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
                background: #5479B0;
      }


[am-layout][am-layout~="frame"] header {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
      }

      a {
        background-color: transparent;
      }
      
      /**
       * Improve readability when focused and also mouse hovered in all browsers.
       */
      
      /* a:active,
      a:hover {
        outline: 0;
      }

a,
label,
button,
input[type="radio"],
input[type="submit"],
input[type="checkbox"] {
  cursor: pointer;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  padding-left: 20px;
} */ 